pkgbase = tensorflow-rocm
	pkgdesc = Library for computation using data flow graphs for scalable machine learning
	pkgver = 2.20.0
	pkgrel = 1
	url = https://www.tensorflow.org/
	arch = x86_64
	license = APACHE
	makedepends = bazel
	makedepends = python-numpy
	makedepends = rocm-hip-sdk
	makedepends = roctracer
	makedepends = rccl
	makedepends = git
	makedepends = miopen
	makedepends = python-wheel
	makedepends = openmp
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-h5py
	makedepends = python-keras-applications
	makedepends = python-keras-preprocessing
	makedepends = cython
	makedepends = patchelf
	makedepends = python-requests
	makedepends = libxcrypt-compat
	makedepends = clang
	depends = c-ares
	depends = pybind11
	depends = openssl
	depends = libpng
	depends = curl
	depends = giflib
	depends = icu
	depends = libjpeg-turbo
	depends = intel-oneapi-openmp
	depends = intel-oneapi-compiler-shared-runtime-libs
	optdepends = tensorboard: Tensorflow visualization toolkit
	source = tensorflow-rocm-2.20.0.tar.gz::https://github.com/tensorflow/tensorflow/archive/v2.20.0.tar.gz
	source = https://github.com/bazelbuild/bazel/releases/download/7.4.1/bazel_nojdk-7.4.1-linux-x86_64
	source = tensorflow-2.19.0-tf-runtime-workspace.patch
	source = tf-runtime-forward-decls.patch
	source = tensorflow-2.19.0-matmul-it-unused-result.patch
	source = protobuf-deps.patch
	source = tensorflow-2.20.0-python-3.14.patch
	sha512sums = e1e27c84491a28dc5b7deb181de0fbad27ddd58cdd7ee2f6815bebd26d7ff400a94efea52eb7da344702adcd9181a474a76dc9e94d2ad7d6511d261deffa0cf5
	sha512sums = ca01422266ed741a7d2ec1fdaba8fed8aa1d1ca4d53e45345225403cb132dc56266fd799351e80aeb50df6f2f4e29e6e0dc9430aef882d749425e8521ba0a806
	sha512sums = 27a07c1f5ab3898e049717e3f56498577c62840416b425e582a308d22112c0341b26a69d419daa0f80fac5be53cee122122b1b8200fc885ae5f7346b8e3ecb10
	sha512sums = b3ac22ede074decdb751adbc8f0324f4b729ffb4927fddcc67250e2f2a2812d2ed6ff515ed98cb3eaf5c1e4b755d6b780f5515181b6f10f046dbaa91e0eb1964
	sha512sums = e5856d277edcef6ab655e8b641f1ec8fe9823264221d687c9938bb00d5acee626a2a05b46cfd97fbad8551f270332ed09b73848bf9784137317fee47ad64c80e
	sha512sums = 5a90a66ea6b78196aaa8852f90ac2af82cfac12b4f7eefa9b1e04ff0fbefd4fdc82f9705f77634efe76c55d5e1804cdfd736dd8ceb875d7ce2757552467a04dd
	sha512sums = cfb1eced1f4b4534deddf14b73d45ae4f8104264ccada1a8854e0dbf7ef2a2f28e67930348211541630a102994ad258d55804359448d225863c4bd5c8762fff1

pkgname = tensorflow-rocm
	pkgdesc = Library for computation using data flow graphs for scalable machine learning (with ROCM)
	depends = c-ares
	depends = pybind11
	depends = openssl
	depends = libpng
	depends = curl
	depends = giflib
	depends = icu
	depends = libjpeg-turbo
	depends = intel-oneapi-openmp
	depends = intel-oneapi-compiler-shared-runtime-libs
	depends = rocm-hip-sdk
	depends = miopen
	depends = rccl
	provides = tensorflow
	conflicts = tensorflow

pkgname = python-tensorflow-rocm
	pkgdesc = Library for computation using data flow graphs for scalable machine learning (with ROCM)
	depends = c-ares
	depends = pybind11
	depends = openssl
	depends = libpng
	depends = curl
	depends = giflib
	depends = icu
	depends = libjpeg-turbo
	depends = intel-oneapi-openmp
	depends = intel-oneapi-compiler-shared-runtime-libs
	depends = tensorflow-rocm
	depends = rocm-hip-sdk
	depends = miopen
	depends = rccl
	depends = python-termcolor
	depends = python-astor
	depends = python-gast
	depends = python-numpy
	depends = python-protobuf
	depends = absl-py
	depends = python-h5py
	depends = python-keras
	depends = python-keras-applications
	depends = python-keras-preprocessing
	depends = python-tensorflow-estimator
	depends = python-opt_einsum
	depends = python-astunparse
	depends = python-pasta
	depends = python-flatbuffers
	depends = python-typing_extensions
	depends = python-ml-dtypes
	provides = python-tensorflow
	conflicts = python-tensorflow

pkgname = tensorflow-opt-rocm
	pkgdesc = Library for computation using data flow graphs for scalable machine learning (with ROCM and AVX CPU optimizations)
	depends = c-ares
	depends = pybind11
	depends = openssl
	depends = libpng
	depends = curl
	depends = giflib
	depends = icu
	depends = libjpeg-turbo
	depends = intel-oneapi-openmp
	depends = intel-oneapi-compiler-shared-runtime-libs
	depends = rocm-hip-sdk
	depends = miopen
	depends = rccl
	provides = tensorflow
	provides = tensorflow-rocm
	conflicts = tensorflow

pkgname = python-tensorflow-opt-rocm
	pkgdesc = Library for computation using data flow graphs for scalable machine learning (with ROCM and AVX CPU optimizations)
	depends = c-ares
	depends = pybind11
	depends = openssl
	depends = libpng
	depends = curl
	depends = giflib
	depends = icu
	depends = libjpeg-turbo
	depends = intel-oneapi-openmp
	depends = intel-oneapi-compiler-shared-runtime-libs
	depends = tensorflow-opt-rocm
	depends = rocm-hip-sdk
	depends = miopen
	depends = rccl
	depends = python-termcolor
	depends = python-astor
	depends = python-gast
	depends = python-numpy
	depends = python-protobuf
	depends = absl-py
	depends = python-h5py
	depends = python-keras
	depends = python-keras-applications
	depends = python-keras-preprocessing
	depends = python-tensorflow-estimator
	depends = python-opt_einsum
	depends = python-astunparse
	depends = python-pasta
	depends = python-flatbuffers
	depends = python-typing_extensions
	depends = python-ml-dtypes
	provides = python-tensorflow
	provides = python-tensorflow-rocm
	conflicts = python-tensorflow
